@font-face {
    font-family: 'Forum';
    src: url("./assets/fonts/Forum.ttf");
  }
  
  @font-face {
    font-family: 'Inter';
    font-weight: 400; 
    src: url("./assets/fonts/Inter.ttf");
  }
  
  @font-face {
    font-family: 'Inter';
    font-weight: 700; 
    src: url("./assets/fonts/Inter-Bold.ttf");
  }
  
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    min-width: 320px;
    font-family: 'Inter';
    color: #fff;
  }
  
  .header {
    max-width: 1440px;
    background-color: #000;
    margin: 0 auto;
  }

  .logo {
    font-family: Forum;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: 0.6px;  
  }

  .profile {
    background-image: url('./assets/icons/Subtract.svg');
    width: 28px;
    height: 28px;
  }
  
  .container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .header-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }

  .nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding-left: 414px;
  }

  .nav-link {
    display: block;
    padding: 0 15px;
    color: #fff;
    font-size: 20px;
    line-height: 50px;
    text-decoration: none;
    transition: 0.3s;
  }
  
  .welcome .container {
    height: 600px;
    background-image: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, 
                      rgba(18, 18, 21, 0.10) 100%),
                      url('./assets/images/welcome.jpg');
  }