  @font-face {
    font-family: 'Forum'; 
    src: url("./assets/fonts/Forum.ttf");
  }
  
  @font-face {
    font-family: 'Inter';
    font-weight: 400; 
    src: url("./assets/fonts/Inter.ttf");
  }
  
  @font-face {
    font-family: 'Inter';
    font-weight: 700; 
    src: url("./assets/fonts/Inter-Bold.ttf");
  }
  
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    min-width: 320px;
    font-family: 'Inter';
    color: #fff;
  }

  h2 {
    color: #0C0C0E;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: capitalize; 
  }

  a {
    color: #0C0C0E;
    text-decoration: none;
  }

  .line {
    width: 50px;
    height: 1px;
    flex-shrink: 0;
    background:#0C0C0E;
    margin: 0 auto;
  }
  
  .header {
    max-width: 1440px;
    background-color: #000;
    margin: 0 auto;
  }

  .logo {
    font-family: Forum;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: 0.6px;  
  }

  .profile {
    background-image: url('./assets/icons/Subtract.svg');
    width: 28px;
    height: 28px;
    transition: 0.5s;
  }

  .profile:hover {
    cursor: pointer;
    transition: 0.5s;
    transform: scale(1.1);
  }
  
  .container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .header-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }

  .nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding-left: 414px;
  }

  .nav-link:hover {
    cursor: pointer;
    color: #8E8E8E;
  }

  .nav-link {
    display: block;
    padding: 0 15px;
    color: #fff;
    font-size: 20px;
    line-height: 50px;
    text-decoration: none;
    transition: 0.3s;
  }
  
  .welcome .container {
    height: 600px;
    background-image: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, 
                      rgba(18, 18, 21, 0.10) 100%),
                      url('./assets/images/welcome.jpg');
  }

  .welcome-content {
    padding-top: 220px;
  }

  .welcome-title {
    text-align: center;
    font-family: Forum;
    font-weight: 400; 
    font-size: 40px;
    width: 600px;
    height: 220px;
    background: #0C0C0E;
    line-height: 50px;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding-top: 35px;
    padding-right: 48px; 
  }

  .about-title {
    padding-top: 20px;
    margin-bottom: 20px;
  }

  .about-content {
    color: #000;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    padding-top: 40px;
    margin-bottom: 20px;
  }

  .images {
    display: flex;
    gap: 25px;
  }

  .images-items {
    width: 450px;
    height: 560px;
    flex-shrink: 0;
  }

  .images-items:nth-child(1) {
    background-image: url(./assets/images/image1.jpg);
  }
  
  .images-items:nth-child(2) {
    background-image: url(./assets/images/image2.jpg);
  }
  
  .images-items:nth-child(3) {
    background-image: url(./assets/images/image3.jpg);
  }

  .carousel-pagination {
    display: flex;
    justify-content: center;
    padding-top: 35px;
  }

  .about-radio {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 26px;
    height: 26px;
    cursor: pointer;
  }

  .radio-box {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: #0C0C0E;
    border-radius: 50%;
  }
  
  .carousel-pagination .about-radio:first-child .radio-box:first-child {
    background-color: #bb945f;
  }

  .pick {
    color: #000;
    font-size: 20px;
    font-weight: 700;
    padding-top: 40px;
    margin-bottom: 40px;
  }

  .label-season {
    color: #000;
  }

  .season__span {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .favorites-radio:checked ~ .season__span {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .staff {
    color: #000;
    font-family: Forum;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 2px;
    text-transform: capitalize;
    padding-top: 5px;
  }

  .book__title {
    color: #000;
    padding-top: 19px;
font-family: Inter;
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: 40px; /* 266.667% */
letter-spacing: 2px;
text-transform: uppercase;
  }

  .book__author {
    color: #000;
font-family: Inter;
font-size: 15px;
font-style: normal;
font-weight: 700;
line-height: 40px;
letter-spacing: 2px;
text-transform: capitalize;
  }

  .book__description {
    color: #000;
    padding-top: 19px;
font-family: Inter;
font-size: 15px;
font-style: normal;
font-weight: 400;
line-height: 40px; /* 266.667% */
letter-spacing: 2px;
text-transform: capitalize;
  }

  .favorites__form {
    display: flex;
    width: 700px;
    gap: 90px;
    margin-bottom: 41px;
  }

  .favorites-radio {
    margin: 5px;
    accent-color: #000;
    cursor: pointer;
  } 

  .favorites__title {
    padding-top: 55px;
    margin-bottom: 20px;

  } 
  
  .favorites__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .favorites__content {
    position: relative;
    width: 590px;
    height: 555px;
    margin-bottom: 40px;
  }

  .line__fav {
    width: 60px;
    height: 1px;
    background-color: #bb945f;
  }

  .favorites__text {
    padding-top: 10px;
    
  }

  .favorites__button {
    width: 75px;
    height: 30px;
    position: absolute;
    bottom: 15px;
    border-radius: 2px;
    border: 1px solid #0C0C0E;
    background-color: #fff;
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: capitalize;
    transition: 0.5s;
  }

  .own {
    color: #BB945F;
    border: 1px solid #BB945F;
  }

  .buy:hover {
    background-color: #BB945F;
    cursor: pointer;
    border: 1px solid #BB945F;
    transition: all 0.5s;
  }

  .book {
    width: 550px;
    height: 555px;
    border: 1px solid #000;
    padding-left: 19px;
  }

  .book__description {
    width: 355px;
  }

  .book__cover {
    width: 200px;
    height: 300px;
    position: absolute;
    bottom: 0;
    right: 0;
  }

  /*coffee shop start*/

  .shop__title {
    padding-top: 20px;
    margin-bottom: 20px;
  }

  .shop__content {
    padding-top: 40px;
    margin-bottom: 40px;
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
  }

  .menu__drink, .menu__dessert {
    color: #BB945F;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 100% */
    letter-spacing: 2px;
    text-transform: capitalize;
  }

  .menu__dessert {
    text-align: right;
  }

  .drink__title-list {
    padding-top: 40px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    gap: 40px;
  }

  .dessert__title-list {
    padding-top: 40px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    gap: 40px;
  }

  .shop__menu-range {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
  }

  .drink__name {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
    width: 200px;
  }
  
  .range__name {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
  }

  .shop__menu {
    display: flex;
    justify-content: space-between;
  }

  .shop__menu-line {
    width: 100px;
    height: 1px;
    background: #BB945F;
  }

  .shop__menu-price {
    color: #000;
    font-family: Forum;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
  }

  /*coffee shop end*/

  /*contacts start*/

  .contacts__title {
    padding-top: 60px;
    margin-bottom: 20px;
  }

  .contacts__content {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
  }

  .contact__phone, .senior, .director {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
  }

  .contact__phone {
    margin-bottom: 40px;
  }
  
  .senior {
    padding-top: 40px;
  }

  .contact__info-director {
    padding-top: 20px;
  }
  
  .contact__info, .contact__info-director {
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 2px;
    text-transform: capitalize;
  }

  .phone__1 {
    padding-top: 20px;
  }

  .phone__2 {
    padding-top: 20px;
  }

  /*contacts end*/ 

  /*digital library cards start*/

  .card__title {
    padding-top: 55px;
    margin-bottom: 20px;
  }

  .your__card-title {
    color: #000;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;
    margin-bottom: 30px;
    text-align: center;
  }

  .card__content {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
  }

  .your__card {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
  }

  .your__card-content {
    border: 3px solid #BB945F;
    padding: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  .your__card-box {
    display: flex;
    flex-direction: column;
    background: #BB945F;
    padding: 20px;
    margin-bottom: 26px;
  }

  .your__card-box input {
    color: #0C0C0E;
    font-family: 'Forum', cursive;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0.6px;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 8px 20px;
  }

  .your__card-title {
    color: #000;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;
  }

  .card-box-title {
    color: #000;
    font-family: Forum;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 50px; /* 166.667% */
    letter-spacing: 0.6px;
    text-transform: capitalize;
    margin-bottom: 20px;
  }

  .reader__name {
    margin-bottom: 24px;
  }
  
  .card__button {
    text-align: center;
    border-radius: 2px;
    border: 1px solid #0C0C0E;
    background-color: #fff;
    color: #0C0C0E;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    width: 242px;
    height: 44px;
    margin: 0 auto;
    transition: 0.5s;
  }

  .card__button:hover, .get__card-btn:hover {
    background-color: #BB945F;
    cursor: pointer;
    border: 1px solid #BB945F;
    transition: 0.5s;
  }

  .get__card-info {
    color: #000;
    text-align: end;
    font-family: Forum;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.6px;
  }

  .get__card-text {
    padding-top: 35px;
    color: #000;
    text-align: right;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px; /* 200% */
    letter-spacing: 0.4px;
  }

  .get__card-button {
    padding-top: 36px;
    display: flex;
    justify-content: end;
    gap: 20px;
  }

  .get__card-btn {
    width: 75px;
    height: 30px;
    color: #0C0C0E;
    border: 1px solid #0C0C0E;
    text-align: center;
    font-family: Inter;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    background-color: #fff;
    transition: 0.5s;
  }

  .card {
    margin-bottom: 50px;
  }

    /*digital library cards end*/
    
    /*footer start*/
   
  .footer__container {
    background-color: #0C0C0E;
    height: 250px;
  }

  .footer__content {
    
  }

  .info__one, .info__two {
    display: flex;
    justify-content: space-between;
    padding-top:  20px;
  }

  .address {
    color: #FFF;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    transition: 0.5s;
  }

  .address:hover {
    cursor: pointer;
    color: #8E8E8E;
  }

  .schedule {
    color: #FFF;
    text-align: right;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 133.333% */
  }

  .social__list {
    display: flex;
    gap: 20px;
  }
  
  .rs__school {
    padding-top: 18px;
  }
  
  .footer__line {
    height: 1px;
    background-color: #FFF;
  }

  .footer__rss {
    padding-top: 45px;
    display: flex;
    justify-content: space-between;
  }

  .link__rss {
    color: #FFF;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 2px;
  }

  .rss {
    padding-left: 110px;
  }
