  @font-face {
    font-family: 'Forum'; 
    src: url("./assets/fonts/Forum.ttf");
  }
  
  @font-face {
    font-family: 'Inter';
    font-weight: 400; 
    src: url("./assets/fonts/Inter.ttf");
  }
  
  @font-face {
    font-family: 'Inter';
    font-weight: 700; 
    src: url("./assets/fonts/Inter-Bold.ttf");
  }
  
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    min-width: 320px;
    font-family: 'Inter';
    color: #fff;
  }

  h2 {
    color: #0C0C0E;
    font-family: Forum;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 2px;
    text-align: center;
    text-transform: capitalize; 
  }

  .line {
    width: 50px;
    height: 1px;
    flex-shrink: 0;
    background:#0C0C0E;
    margin: 0 auto;
  }
  
  .header {
    max-width: 1440px;
    background-color: #000;
    margin: 0 auto;
  }

  .logo {
    font-family: Forum;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: 0.6px;  
  }

  .profile {
    background-image: url('./assets/icons/Subtract.svg');
    width: 28px;
    height: 28px;
  }
  
  .container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .header-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }

  .nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding-left: 414px;
  }

  .nav-link {
    display: block;
    padding: 0 15px;
    color: #fff;
    font-size: 20px;
    line-height: 50px;
    text-decoration: none;
    transition: 0.3s;
  }
  
  .welcome .container {
    height: 600px;
    background-image: linear-gradient(180deg, #0C0C0E 0%, #0C0C0E 0.01%, 
                      rgba(18, 18, 21, 0.10) 100%),
                      url('./assets/images/welcome.jpg');
  }

  .welcome {
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  
  .welcome-content {
    padding-top: 220px;
  }

  .welcome-title {
    text-align: center;
    font-family: Forum;
    font-weight: 400; 
    font-size: 40px;
    width: 600px;
    height: 220px;
    background: #0C0C0E;
    line-height: 50px;
    letter-spacing: 3px;
    text-transform: uppercase;
    padding-top: 35px;
    padding-right: 48px; 
  }

  .about-title {
    padding-top: 20px;
    margin-bottom: 20px;
  }

  .about-content {
    color: #000;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    padding-top: 40px;
    margin-bottom: 20px;
  }

  .images {
    display: flex;
    gap: 25px;
  }

  .images-items {
    width: 450px;
    height: 560px;
    flex-shrink: 0;
  }

  .images-items:nth-child(1) {
    background-image: url(./assets/images/image1.jpg);
  }
  
  .images-items:nth-child(2) {
    background-image: url(./assets/images/image2.jpg);
  }
  
  .images-items:nth-child(3) {
    background-image: url(./assets/images/image3.jpg);
  }

  .carousel-pagination {
    display: flex;
    justify-content: center;
    padding-top: 35px;
  }

  .about-radio {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 26px;
    height: 26px;
    cursor: pointer;
  }

  .radio-box {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: #0C0C0E;
    border-radius: 50%;
  }
  
  .carousel-pagination .about-radio:first-child .radio-box:first-child {
    background-color: #bb945f;
  }